.signup-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form .signup__title {
    font-size: 1.5rem
}

.form-row {
    display: flex;
    gap: 10px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    padding: 8px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
    border-color: var(--first-color);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.signup-button {
    padding: 10px 15px;
    width: 30%;
    margin-left: auto;
    background-color: var(--first-color);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.signup-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .signup-container {
        max-width: 450px;
    }

    .signup-form {
        display: flex;
        flex-direction: column;
    }

    .form-group {
        margin-bottom: 5px;
    }

    .signup-button {
        margin-top: 10px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .signup-container {
        max-width: 300px;
        margin: 15px auto;
    }

    .signup-form .signup__title {
        font-size: 1.25rem;
        text-align: center;
        border-bottom: 1px solid var(--text-color);
        padding-bottom: 5px;
    }

    .form-row {
        display: block;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .form-group label {
        margin-bottom: 2px;
    }

    .form-group input,
    .form-group select {
        padding: 5px;
    }

    .signup-button {
        width: 100%;
    }
}